@font-face {
  font-family: "Overpass";
  src: url('./Overpass/Overpass-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Overpass";
  src: url('./Overpass/Overpass-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('./Montserrat/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url('./Montserrat/Montserrat-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url('./Montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url('./Mulish/Mulish-Regular.ttf');
  font-weight: nromal;
  font-style: normal;
}
