.container-fluid {
  background-color: #111;
  width: 100%;
  padding: 50px 0 150px 0;
}

.about-content {
  display: flex;
  justify-content: center;
  
}
.header {
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  margin-bottom: 26px;
}
.text {
  font-family: "Mulish";
  font-style: italic;
  color: #bbb;
}
.btn {
  background: #fff;
  padding: 10px 20px;
  border-radius: 0.375rem;
  transition: all 1s ease-in-out;
  font-weight: bold;
  font-size: 12px;
}
.btn:hover {
  transform: scale(1.1);
}
li {
  display: flex;
  align-items: center;
  list-style: none;
}
.list-header {
  font-weight: bold;
  display: inline-block;
  min-width: 70px !important;
  color: #fff;
  font-size: 15px;
}
.list-text {
  font-family: "Mulish";
  color: #bbb;
}
.list {
  margin-top: 48px;
}
@media screen and (max-width: 770px) {
  .about-content {
    display: block;
  }
  li {
    padding-left: 0 !important ;
  }
}
