<div class="container-fluid">
  <div class="row m-0 p-4 justify-content-center">
    <div
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="300"
      class="col-md-10 image text-center"
    >
      <img
        style="width: 90%"
        class="mb-4 img-responsive"
        src="assets/images/about-image.jpeg"
        alt=""
      />
    </div>
    <div
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="400"
      class="about-content w-100"
    >
      <div class="col-md-5 col-12 about">
        <h3 class="header">Sarkhan Hajibayov</h3>
        <p class="text">
          Hello! I'm Sarkhan Hajibayov, a passionate and dedicated junior web
          developer with expertise in HTML, CSS, JavaScript, Angular, C#, and
          SQL. I am deeply fascinated by the world of web development and love
          creating engaging and dynamic web applications that provide
          exceptional user experiences.
        </p>
        <button type="button" (click)="onReadMore()" class="btn">
          Read More
        </button>
      </div>
      <div class="col-md-3 col-12 list">
        <mat-list-item role="listitem">
          <li class="px-3 py-1 list-style-none">
            <span class="list-header">Birthday:</span>
            <span class="list-text pl-3">14.10.2000</span>
          </li>
        </mat-list-item>
        <mat-list-item role="listitem">
          <li class="px-3 py-1">
            <span class="list-header">Age:</span>
            <span class="list-text pl-3">22</span>
          </li>
        </mat-list-item>
        <mat-list-item role="listitem">
          <li class="px-3 py-1">
            <span class="list-header">Address:</span>
            <span class="list-text pl-3">Baku,Azerbaijan</span>
          </li>
        </mat-list-item>
        <mat-list-item role="listitem">
          <li class="px-3 py-1">
            <span class="list-header">Email:</span>
            <span class="list-text pl-3">shacibyov@gmail.com</span>
          </li>
        </mat-list-item>
        <mat-list-item role="listitem">
          <li class="px-3 py-1">
            <span class="list-header">Phone:</span>
            <span class="list-text pl-3">+994 55 352 25 96</span>
          </li>
        </mat-list-item>
        <mat-list-item role="listitem">
          <li class="px-3 py-1">
            <span class="list-header">Study:</span>
            <span class="list-text pl-3">ASOIU</span>
          </li>
        </mat-list-item>
      </div>
    </div>
  </div>
</div>
