.container-fluid {
  width: 100%;
  height: 100%;
  padding: 50px 0;
}
.head {
  margin-bottom: 62px;
}
.header {
  background-color: hsla(0, 0%, 100%, 0.08);
  display: inline-block;
  text-transform: uppercase;
  padding: 4px 10px;
  font-size: 12px;
  color: #999;
  font-weight: bold;
  margin-bottom: 15px;
}
.touch {
  font-weight: bold;

  color: #fff;
  font-size: 30px;
}

.mat-mdc-card {
  background-color: #1c1c1c;
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
  border-radius: 0.625rem;
  overflow: hidden !important;
}
.card-img {
  height: 300px;
  overflow: hidden !important;
  margin-bottom: 20px;
}
img {
  transition: all 300ms ease-in;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mat-mdc-card:hover img {
  transform: scale(1.1);
}
.tech-row {
  column-gap: 0.625rem;
  row-gap: 0.625rem;
}

.list-item {
  color: #fff;
  padding: 0.375rem 0.625rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
  border-radius: 0.375rem;
}
.project-title {
  color: #fff;
  padding-left: 0.625rem;
  font-size: 1.5rem;
}
fa-icon {
  display: block;
  color: #bbb;
  font-size: 1.3rem;
  cursor: pointer !important;
}
.main-row {
  row-gap: 20px;
}
.box-blur {
  background-color: #a84ddf;
  width: 50%;
  height: 40%;
  filter: blur(6.25rem);
  z-index: 0;
  position: absolute;
}
