<div class="container-fluid">
  <div class="row m-0 p-4 justify-content-center">
    <div class="col-md-8 head">
      <div class="header">Projects</div>
      <h3 class="touch">Personal projects</h3>
    </div>
    <div class="wrapper">
      <div class="cols">
        <div class="col" ontouchstart="this.classList.toogle('hover');">
          <div class="container">
            <div
              class="front"
              style="background-image: URL(assets/doxmake.png)"
            >
              <div class="inner">
                <p>DoxMake</p>
              </div>
            </div>
            <div class="back">
              <div class="inner"></div>
            </div>
          </div>
        </div>

        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: URL(assets/motor.png)">
              <div class="inner">
                <p>Moto Store</p>
              </div>
            </div>
            <div class="back">
              <div class="inner"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="cols">
        <div class="col" ontouchstart="this.classList.toogle('hover');">
          <div class="container">
            <div
              class="front"
              style="background-image: URL(assets/sneakers.png)"
            >
              <div class="inner">
                <p>Sneakers</p>
              </div>
            </div>
            <div class="back">
              <div class="inner"></div>
            </div>
          </div>
        </div>

        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div class="front" style="background-image: URL(assets/ai.png)">
              <div class="inner">
                <p>AI for Azerbaijan</p>
              </div>
            </div>
            <div class="back">
              <div class="inner"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="cols">
        <div class="col" ontouchstart="this.classList.toogle('hover');">
          <div class="container">
            <div
              class="front"
              style="background-image: URL(assets/calculator.png)"
            >
              <div class="inner">
                <p>Calculator</p>
              </div>
            </div>
            <div class="back">
              <div class="inner"></div>
            </div>
          </div>
        </div>

        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div
              class="front"
              style="background-image: URL(assets/country.png)"
            >
              <div class="inner">
                <p>Country App</p>
              </div>
            </div>
            <div class="back">
              <div class="inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
