<div class="container-fluid">
  <div class="row m-0 p-4 justify-content-center">
    <div
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="300"
      class="col-md-8 head"
    >
      <div class="header">Contact</div>
      <h3 class="touch">Get in touch</h3>
    </div>
    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="400"
      class="col-md-8 mb-4"
    >
      <google-map width="100%" [center]="center" [zoom]="zoom">
        <map-marker
        [position]="marker.position"></map-marker>
      </google-map>
    </div>
    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="500"
      class="col-md-8"
    >
      <form [formGroup]="mainForm">
        <mat-form-field class="w-100">
          <mat-label>Name</mat-label>
          <input matInput formControlName="fullName" />
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Mobile</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Message</mat-label>
          <textarea matInput formControlName="message"></textarea>
        </mat-form-field>
        <button class="btn">Send Message</button>
      </form>
    </div>
  </div>
</div>
