<div class="container-fluid">
  <div class="row m-0 p-4 justify-content-center">
    <div
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="300"
      class="col-md-10 head"
    >
      <div class="header">Contact</div>
      <h3 class="touch">Get in touch</h3>
    </div>
    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="400"
      class="col-md-10 mb-4"
    >
      <google-map width="100%" [center]="center" [zoom]="zoom">
        <map-marker [position]="marker.position"></map-marker>
      </google-map>
    </div>
    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="500"
      class="col-md-10"
    >
      <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input class="form-control" type="text" formControlName="fullName" />
          <span
            class="help-block"
            *ngIf="
              !mainForm.get('fullName')?.valid &&
              mainForm.get('fullName')?.touched
            "
            >Name field is required!</span
          >
        </div>
        <div class="form-group">
          <label for="name">Email:</label>
          <input class="form-control" type="text" formControlName="email" />
          <span
            class="help-block"
            *ngIf="
              !mainForm.get('email')?.valid && mainForm.get('email')?.touched
            "
            ><span *ngIf="mainForm.get('email')?.errors!['email']"
              >Enter valid email address!</span
            >
            <span *ngIf="mainForm.get('email')?.errors!['required']"
              >Email field is required!</span
            ></span
          >
        </div>
        <div class="form-group">
          <label for="name">Phone:</label>
          <input class="form-control" type="text" formControlName="phone" />
          <span
            class="help-block"
            *ngIf="
              !mainForm.get('phone')?.valid && mainForm.get('phone')?.touched
            "
            >Phone field is required!</span
          >
        </div>
        <div class="form-group">
          <label for="name">Message:</label>
          <textarea
            class="form-control"
            type="text"
            formControlName="message"
          ></textarea>
          <span
            class="help-block"
            *ngIf="
              !mainForm.get('message')?.valid &&
              mainForm.get('message')?.touched
            "
            >Message field is required!</span
          >
        </div>

        <button type="submit" class="btn">Send</button>
      </form>
    </div>
  </div>
</div>
