app-sidenav {
  width: 30%;
}
.route {
  width: 70%;
}
.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  background-color: #fff;
  mix-blend-mode: difference;
}
app-header-mobile{
  display: none;
}
@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 1200px) {
  app-sidenav {
    display: none;  
  }
  app-header-mobile {
    display: block;  
  }
  .route {
    width: 100%;
  }
}