<div class="background">
  <aside class="example-container">
    <div class="sidebar">
      <div class="sidebar__header">
        <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          Portfolio
        </h3>
      </div>
      <mat-list-item role="listitem">
        <li
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="400"
          class="px-3 py-1"
        >
          <a routerLink="/">
            <fa-icon class="mr-3" [icon]="faHouse"></fa-icon> <span>Home</span>
          </a>
        </li>
      </mat-list-item>
      <mat-list-item role="listitem">
        <li
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="500"
          class="px-3 py-1"
        >
          <a routerLink="About" [routerLinkActive]="'active'">
            <fa-icon class="mr-3" [icon]="faUser"></fa-icon>
            <span>About</span>
          </a>
        </li>
      </mat-list-item>
      <mat-list-item role="listitem">
        <li
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="600"
          class="px-3 py-1"
        >
          <a routerLink="Projects" [routerLinkActive]="'active'">
            <fa-icon class="mr-3" [icon]="faBriefcase"></fa-icon>
            <span>Projects</span>
          </a>
        </li>
      </mat-list-item>
      <mat-list-item role="listitem">
        <li
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="700"
          class="px-3 py-1"
        >
          <a routerLink="Contact" [routerLinkActive]="'active'">
            <fa-icon class="mr-3" [icon]="faEnvelope"></fa-icon>
            <span>Contact</span>
          </a>
        </li>
      </mat-list-item>
    </div>
  </aside>
</div>
