
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  position: relative;
}
@font-face {
  font-family: "Overpass";
  src: url(assets/Overpass-Regular.ttf);
}
@font-face {
  font-family: "Overpass Bold";
  src: url(assets/Overpass-Bold.ttf);
}
@font-face {
  font-family: "Overpass Extra Bold";
  src: url(assets/Overpass-ExtraBold.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(assets/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat Italic";
  src: url(assets/Montserrat-Italic.ttf);
}
@font-face {
  font-family: "Montserrat Medium";
  src: url(assets/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Mulish";
  src: url(assets/Mulish-Regular.ttf);
}
@font-face {
  font-family: "Montserrat Bold";
  src: url(assets/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat Extra Bold";
  src: url(assets/Montserrat-ExtraBold.ttf);
}
mat-list-item:hover .cursor {
  transform: scale(1.2) !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}
.mdc-text-field {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}
::ng-deep input.mat-input-element {
  color: white;
}
.active {
  color: #eee !important;
}