@import "./assets/fonts/fonts.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Montserrat";
  font-weight: normal;
  height: 100%;
}

.main {
  position: relative;
}
// @font-face {
//   font-family: "Overpass";
//   src: url(assets/Overpass-Regular.ttf);
// }
// @font-face {
//   font-family: "Overpass Bold";
//   src: url(assets/Overpass-Bold.ttf);
// }
// @font-face {
//   font-family: "Overpass Extra Bold";
//   src: url(assets/Overpass-ExtraBold.ttf);
// }
// @font-face {
//   font-family: "Montserrat";
//   src: url(assets/Montserrat-Regular.ttf);
// }
// @font-face {
//   font-family: "Montserrat Italic";
//   src: url(assets/Montserrat-Italic.ttf);
// }
// @font-face {
//   font-family: "Montserrat Medium";
//   src: url(assets/Montserrat-Medium.ttf);
// }
// @font-face {
//   font-family: "Mulish";
//   src: url(assets/Mulish-Regular.ttf);
// }
// @font-face {
//   font-family: "Montserrat Bold";
//   src: url(assets/Montserrat-Bold.ttf);
// }
// @font-face {
//   font-family: "Montserrat Extra Bold";
//   src: url(assets/Montserrat-ExtraBold.ttf);
// }
mat-list-item:hover .cursor {
  transform: scale(1.2) !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}
.mdc-text-field {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}
::ng-deep input.mat-input-element {
  color: white;
}
.active {
  color: #eee !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 10px !important;
  background-color: #000 !important;
}
.mdc-dialog .mdc-dialog__content {
  padding: 70px !important;
}
.mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
  background-color: #222;
}
.mdc-linear-progress__bar-inner {
  border-color: #e8e8e8 !important;
}
