/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}
@font-face {
  font-family: "Overpass";
  src: url(assets/Overpass-Regular.ttf);
}
@font-face {
  font-family: "Overpass Bold";
  src: url(assets/Overpass-Bold.ttf);
}
@font-face {
  font-family: "Overpass Extra Bold";
  src: url(assets/Overpass-ExtraBold.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(assets/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat Italic";
  src: url(assets/Montserrat-Italic.ttf);
}
@font-face {
  font-family: "Montserrat Medium";
  src: url(assets/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat Bold";
  src: url(assets/Montserrat-Bold.ttf);
}
mat-list-item:hover .cursor {
  transform: scale(1.2) !important;
}
