<div class="space">
<div class="main">
  <div class="container-fluid">
    <div class="row content">
      <div class="col-md-4 col__img">
        <div class="image">
          <img src="assets/profile.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <h1 class="name">Software Developer</h1>
        <p class="text">
          Hello, I'm Sarkhan Hajibayov software developer based
          in Baku, Azerbaijan.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
