/* Animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(60deg);
  }
}
/* Global */
/* Space */
.container-fluid {
  background-color: #111;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image {
  display: flex;
  width: 400px;
  height: 400px;
  animation: animate 8s ease-in-out infinite 1s;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
img {
  width: 100%;
}
.name {
  font-family: "Montserrat Bold";
  font-size: 2.5rem;
  color: #fff;
}
.text {
  font-family: "Montserrat Italic";
  font-size: 1.2rem;
  color: #bbb;
}
.content {
  justify-content: center;
  align-items: center;
}
fa-icon {
  color: #bbb;
  font-size: 1.5rem;
}
.bord {
  font-family: "Montserrat";
  font-size: 1.2rem;
  color: #bbb;
}
.col__img{
  display: flex;
  justify-content: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 15px;

}
.tech {
  display: flex;
}
.bord {
  border-right: 1px solid #bbb;
  padding-right: 50px;
  margin-right: 50px;
}

.html {
  color: #e65100;
}
.css {
  color: #2299f8;
}
.js {
  color: #f0dc4e;
}
.angular {
  color: #de002d;
}
.cursor{
  cursor: pointer !important;
}
@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/60% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
@media screen and (max-width: 850px) {
.col-md-6{
  max-width: 100%!important;
}
.col-sm-12{
  display: flex;
  justify-content: center;
  align-items: center;
}
}