<div class="container-fluid">
  <div
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-delay="400"
    class="row h-100 content"
  >
    <div class="col-md-6 col-sm-12 col__img">
      <div class="image">
        <img src="assets/profile.jpeg" alt="" />
      </div>
    </div>
    <div class="col-md-6">
      <h1 class="name">Software Developer 👋</h1>
      <p class="text">
        Hello, I'm Sarkhan Hajibayov software developer based in Baku,
        Azerbaijan.
      </p>
      <div class="contact mb-4">
        <a
          href="https://www.linkedin.com/in/sarkhan-hajibayov-2a1677208/"
          target="_blank"
          ><fa-icon class="pr-3 cursor" [icon]="faLinkedin"></fa-icon
        ></a>

        <a href="https://github.com/Hajibayov?tab=repositories" target="_blank"
          ><fa-icon class="cursor" [icon]="faGithub"></fa-icon
        ></a>
      </div>
      <div class="tech">
        <p class="bord">Tech Stack</p>
        <div class="logo">
          <fa-icon class="html" [icon]="faHtml5"></fa-icon>
        </div>
        <div class="logo">
          <fa-icon class="css" [icon]="faCss3Alt"></fa-icon>
        </div>
        <div class="logo">
          <fa-icon class="js" [icon]="faJs"></fa-icon>
        </div>
        <div class="logo">
          <fa-icon class="angular" [icon]="faAngular"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
